:root {
  --main-bg-color: #f7f7fc;
  --primary-color: #59218c;
  --primary-color-dark: #351852;
  --text-color: #444;
  --highlight-color: #f6f6f6;
  --icon-color: #202c45;
  --border-color: #202c45;
  --accent-color: #00b08c;
}
/* rgb(89, 33, 140) or #59218C */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", "Source Sans Pro", "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.5);
}

body {
  /* font-family: "Source Sans Pro", "Roboto", sans-serif; */
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
h1,
h2 {
  font-weight: lighter;
  color: #555;
}

.container {
  text-align: center;
  padding-top: 200px;
  font-size: 20px;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.img-crop {
  border-radius: 50%;
}
.avatar {
  vertical-align: middle;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}
.row {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
}

.grid {
  display: grid;
}
.grid.g-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.g-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.g-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.g-col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid.gap-2 {
  gap: 2;
}
.grid.gap-4 {
  gap: 4;
}
.grid.gap-5 {
  gap: 5;
}
.grid.gap-10 {
  gap: 10;
}

.flex {
  display: flex;
}
.flex.flex-column {
  flex-direction: column;
}
.flex.flex-center {
  align-items: center;
  justify-content: center;
}
.flex.flex-vcenter {
  align-items: center;
  justify-content: center;
}
.flex.flex-align-center {
  align-items: center;
}
.flex.flex-align-right {
  align-items: flex-end;
}
.flex.flex-justify-content-center {
  justify-content: center;
}
.flex.flex-justify-content-end {
  justify-content: end;
}
.flex.flex-justify-content-right {
  justify-content: right;
}
.flex.flex-justify-content-space-between {
  justify-content: space-between;
}
.flex.flex-justify-content-space-around {
  justify-content: space-around;
}

.flex .flex-1 {
  flex: 1;
}

.alert {
  padding: 15px 0;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
}
.alert.alert-error {
  background: rgb(235, 184, 184);
  border-color: rgb(240, 151, 151);
  color: rgb(241, 50, 50);
}
.panel {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
}
.panel-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.panel-body {
  position: relative;
  padding: 10px;
}
.panel-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--primary-color-dark);
  padding: 15px 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table th {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
  color: #444;
  text-align: left;
  padding: 8px 0;
  text-transform: capitalize;
  border-bottom: 1px solid #e0e0e0;
}
.table td {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 21px;
  color: #444;
  text-transform: capitalize;
}
.table tr:last-child td {
  border-bottom: 0;
}

.table-form {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}
.table-form td {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.table-form tr:last-child td {
  border-bottom: 0;
}

.table tr:hover td {
  cursor: pointer;
  background-color: var(--highlight-color);
  color: var(--primary-color);
}
.table.no-hover tr:hover td,
.table td.no-hover:hover {
  cursor: default;
  background-color: transparent;
  color: #444;
}

.stable {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  border-collapse: collapse;
}
.stable th,
.stable td {
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
}
.stable th {
  font-weight: 600;
  color: #282136;
  text-align: left;
  padding: 16px;
  border-bottom: 1px solid #ededed;
}
.stable td {
  font-weight: normal;
  color: #282136;
  padding: 12px 16px;
}
.stable tbody tr:nth-child(odd) {
  background-color: #f8f9fa; /* #F8F9FA*/
  color: #fff;
}
.stable tbody tr.selected,
.stable tbody tr:hover td {
  cursor: pointer;
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

select,
.input-text {
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
  margin: 1px;
  background: #fff;
}

.placeholder {
  color: #dbdbdb;
}

.smart-text {
  color: #212121;
  font-family: Montserrat;
  font-size: 14px;
  padding: 0;
  line-height: 24px;
  font-style: normal;
}
sup {
  color: red;
}

.text-field {
  border: 1px solid #ccc;
  margin: 5px 1px;
  padding: 5px;
  align-items: center;
  height: 40px;
  width: 100%;
  color: #444;
  font-size: 0.85rem;
  border-radius: 1px;
  transition: 0.25s all ease;
}

.text-field::placeholder {
  color: rgba(35, 35, 35, 0.75);
}

.text-field:hover,
.text-field:focus {
  border-color: var(--primary-color);
  outline: none;
}
.smrt-link:hover {
  color: var(--primary-color);
}
.flat-btn {
  outline: none;
  border: 0px solid #ccc;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.flat-btn:hover {
  background: var(--primary-color-dark);
}

/* input[type="checkbox"] {
  width: 15px !important;
  height: 15px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 2px solid var(--primary-color);
  box-shadow: none;
  font-size: 2em;
}

input[type="checkbox"]:checked {
  background: white url("../svg/checked.svg") no-repeat;
  background-size: 12px 12px;
  background-position: 50% 50%;
} */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: var(--primary-color);
    --active-inner: #fff;
    --focus: 2px var(--primary-color);
    --border: #bbc1e1;
    --border-hover: var(--primary-color);
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type="checkbox"]:after,
  input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type="checkbox"]:disabled,
  input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type="checkbox"]:disabled:checked,
  input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type="checkbox"]:disabled + label,
  input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  input[type="checkbox"]:hover:not(:checked):not(:disabled),
  input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type="checkbox"]:not(.switch),
  input[type="radio"]:not(.switch) {
    width: 21px;
  }
  input[type="checkbox"]:not(.switch):after,
  input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type="checkbox"]:not(.switch):checked,
  input[type="radio"]:not(.switch):checked {
    --o: 1;
  }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type="checkbox"]:not(.switch) {
    border-radius: 0px;
  }
  input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
  input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type="radio"] {
    border-radius: 50%;
  }
  input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type="radio"]:checked {
    --s: 0.5;
  }
}

.check-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.check-group input {
  margin-right: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.input-group.inline {
  flex-direction: row;
  align-items: center;
}

.input-group.inline input {
  flex: 1;
  margin-left: 5px;
  width: auto;
}

.btn,
.btn-none {
  outline: none;
  border: 1px solid #ccc;
  /* border-radius: 0.25rem; */
  background: #eee;
  color: #444;
  padding: 7px 10px;
  margin: 1px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.btn {
  border-radius: 25px;
}
.btn:hover {
  background: #ddd;
}
.btn:disabled {
  cursor: not-allowed;
}
.btn.btn-default {
  background: var(--primary-color);
  color: #fff;
}
.btn.btn-default:hover {
  background: var(--primary-color-dark);
  opacity: 0.9;
}
.btn.btn-primary {
  background: var(--accent-color);
  color: #fff;
  border: 0;
}
.btn.btn-primary:hover {
  background: var(--accent-color);
  opacity: 0.9;
}
.btn-none {
  background: transparent;
  border: 0;
}
.btn-none.rounded {
  border-radius: 50%;
}
.btn-none.rounded:active {
  background: rgba(0, 0, 0, 0.1);
}

/* AUTH LAYOUT STYLES */
.area-auth {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: url(../img/worldmap.jpg);
}
.area-auth .form-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  background-color: white;
  box-shadow: 0px 4px 4px rgb(89, 33, 140, 0.5);
}
.area-auth .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.area-auth .overlay-1 {
  background: rgb(89, 33, 140, 0.8);
}
.area-auth .overlay-2 {
  background: rgb(0, 0, 0, 0.5);
}
.area-auth .form-content button {
  padding: 18px;
  margin-top: 10px;
  width: 100%;
  border-radius: 0;
}
.area-auth .form-content .text-field {
  padding-top: 25px;
  padding-bottom: 25px;
}
.area-auth .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

/* MAIN LAYOUT STYLES */

.area-main {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

.area-main .wrapper {
  flex: 1;
  background-color: #eee;
  overflow: hidden;
  overflow-y: auto;
}

/* .sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.sidebar::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.2);
} */
.area-main .sidebar::-webkit-scrollbar {
  width: 8px;
}
.area-main .sidebar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6);
}
.area-main .sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 125, 125, 0.6);
  border-radius: 20px;
}

/*   MAIN LAYOUT SIDEBAR STYLE  */
.area-main .sidebar {
  position: relative;
  width: 300px;
  background-color: var(--primary-color);
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s ease;
}
.area-main .sidebar.hidden {
  width: 0;
}
.area-main .sidebar.show {
  width: 300px;
}
.area-main .sidebar .sb-content {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.area-main .sidebar .sb-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
}
.area-main .sidebar .sb-header-logo {
  margin: 12px 0;
}
.area-main .sidebar .sb-header-title {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #ffffff;
}
.area-main .sidebar .sb-menu {
  flex: 1;
  padding: 10px 0;
}
.area-main .sidebar .sb-menu li {
  display: flex;
  border-bottom: 1px solid #263240;
}
.area-main .sidebar .sb-menu li:last-child {
  border-bottom: 0;
}
.area-main .sidebar .sb-menu a {
  padding: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  color: #a7a8ab;
}
.area-main .sidebar .sb-menu a:hover {
  color: rgba(167, 168, 171, 0.44);
}
.area-main .sidebar .sb-menu a.active {
  color: rgba(167, 168, 171, 0.44);
}
.area-main .topbar {
  z-index: 9;
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid #cfcfcf;
}
.area-main .topbar .toggle-sidebar {
  display: flex;
  align-items: center;
}
.area-main .topbar .tp-brand {
  display: flex;
  padding: 0 15px;
}
.area-main .topbar .tp-brand .tp-brand-tag {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.37);
}
.area-main .topbar .tp-nav {
  flex-grow: 1;
}
.area-main .topbar .tp-nav .ul-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.area-main .topbar .tp-nav .ul-nav li {
  display: flex;
}
.area-main .topbar .tp-nav .ul-nav a {
  height: 100%;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  color: #a6a6a6;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

@media screen and (max-width: 820px) {
  .area-main .sidebar .toggle-sidebar {
    display: none;
  }
  .area-main .topbar .toggle-sidebar {
    display: flex;
  }
}

/* ERROR LAYOUT  */

.area-error {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-dark);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.area-error .error-404 {
  font-size: 120px;
}
.area-error .btn-44 {
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2em;
  transition: all 0.3s;
  color: #fff;
}
.area-error .btn-44:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* MODAL */
.modal.open .modal-overlay,
.modal.open .modal-content {
  opacity: 1;
  z-index: 1000;
}
.modal.open .modal-overlay {
  background: rgba(0, 0, 0, 0.4);
}
.modal.open .modal-content {
  transform: translateY(100px);
}

.modal.hidden .modal-overlay,
.modal.hidden .modal-content {
  opacity: 1;
  z-index: 1000;
}

.modal.hidden .modal-overlay {
  background: rgba(0, 0, 0, 0);
}
.modal.hidden .modal-content {
  transform: translateY(-200px);
}

.modal-overlay,
.modal-content {
  opacity: 0;
  z-index: -1;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease-in;
}
.modal-content {
  background: #fff;
  margin: 0 auto;
  border-radius: 5px;
  transform: translateY(-200px);
  transition: transform 0.2s ease-in;
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.modal-title {
  font-size: 1.5rem;
}
.modal-close {
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-body {
  padding: 15px;
}

/* POPUP  */
.popup {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  opacity: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.popup.visible {
  visibility: visible;
  opacity: 1;
}

.popup .popup-content {
  position: relative;
  visibility: hidden;
  min-width: 372px;
  margin: auto;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    transform 0.4s ease-in-out;
  transform: scale(0.5);
  opacity: 0;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  outline: none;
}

.popup.visible .popup-content {
  visibility: visible;
  transform: translateY(0) scale(1);
  opacity: 1;
}

.popup .popup-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.popup .popup-title {
  font-weight: normal;
  font-size: 1.5rem;
}
.popup .popup-close {
  font-size: 1.5rem;
  cursor: pointer;
}
.popup .popup-body {
  padding: 10px 15px;
  overflow: hidden;
}

.popup .popup-close:hover {
  color: rgb(197, 48, 48);
  /* animation: 0.5s rotate-360;
  transform-origin: center;
  transform-box: fill-box; */
}

/*  DROPDOWN */
.dropdown .dropdown__header {
  height: 100%;
  cursor: pointer;
  position: relative;
}
.dropdown .checkmark {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  background: transparent;
}

.dropdown .dropdown__content {
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  background-color: #fff;
  border: 1px solid #dbe2ef;
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); */
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border-radius: 0px 0px 7px 7px;
  min-width: 200px;
  list-style: none;
  z-index: 10;
  transition: visibility 0.5s ease;
}

.dropdown .dropdown__header.is-active + .dropdown__content {
  opacity: 1;
  visibility: visible;
}
.dropdown .dropdown__content li {
  padding: 10px;
  list-style: none;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown .dropdown__content li:last-child {
  border-bottom: 0;
}
.dropdown .dropdown__content li:hover {
  background-color: var(--highlight-color);
  /* color: var(--primary-color); */
  cursor: pointer;
}
.dropdown .dropdown__content__item {
  display: flex;
  align-items: center;
}
.dropdown .dropdown__content__item svg {
  /* fill: rgba(0, 0, 0, 0.3); */
  margin-right: 10px;
}
.dropdown-selected {
  display: flex;
  align-items: center;
  color: red;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
/* Crop.jsx component */
.crop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

/* SearchField.jsx component */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-position: center center;
  background-repeat: no-repeat;
}

.search-input-label {
  position: relative;
  display: block;
  margin-bottom: 0;
}

.search-input {
  align-items: center;
  height: 40px;
  width: 100%;
  font-size: 0.85rem;
  border: 1px solid #c4c4c4;
  border-radius: 1px;
  padding: 5px;
  padding-right: 20px;
  transition: 0.25s all ease;
}

.search-input::placeholder {
  color: rgba(35, 35, 35, 0.75);
}

.search-input:hover,
.search-input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.search-input-icon {
  position: absolute;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: rgba(0, 0, 0, 0.54);
  right: 10px;
  top: 50%;
  transition: 0.25s all ease;
}

.search-input-label:hover .search-input-icon,
.search-input-label:focus .search-input-icon {
  fill: var(--primary-color);
}

/* IconButton Component */
.icon-button {
  position: relative;
  margin: 1px;
  outline: none;
  background: transparent;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 1s ease;
}
.icon-button .ib-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.icon-button:active {
  background: rgba(0, 0, 0, 0.3);
}

.component {
  position: relative;
}
.bold {
  font-weight: bold;
}
.selected {
  background-color: #f5f5f5;
}

.list-item li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
}
.list-item li:last-child {
  border-bottom: 0;
}

.key-value-item li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}
.error-text {
  color: red;
}
.separator {
  height: 1px;
  background: #ededed;
}
.group {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: #eff1f1;
}
.paginator-lignes select {
  width: auto;
  height: 30px;
  margin-left: 10px;
  border: 1px solid #a7a8ab;
  box-sizing: border-box;
  border-radius: 4px;
}
.icons {
  position: relative;
  width: 22px;
  height: 22px;
}
.icons::after {
  position: absolute;
  content: "\26A0";
  color: #fff;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
*.uppercase {
  text-transform: uppercase;
}

/* .paginate {
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

.paginate .page-item {
  text-decoration: none;
  color: var(--primary-color);
  float: left;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  transition: background-color 0.5s;
}
.paginate .page-item.active {
  background-color: var(--primary-color);
  color: #fff;
}

.paginate .page-item:hover:not(.active) {
  background-color: lightgray;
} */
.breadcrumb {
  display: flex;
  padding: 0 10px;
  margin-top: 10px;
}
.breadcrumb__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0;
}
.breadcrumb__item a {
  color: #00b08c;
}
.breadcrumb__item span {
  color: #000;
  cursor: default;
}
